.handmadeReactChart-labels-DrawLabel {
  position: absolute;
  display: flex;
  align-items: center;
  color: #aaa;
}

.handmadeReactChart-labels-DrawLabel.right {
  transform: translateY(-50%);
}

.handmadeReactChart-labels-DrawLabel.right::before,
.handmadeReactChart-labels-DrawLabel.left::after {
  margin-top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #aaa;
  content: "";
}

.handmadeReactChart-labels-DrawLabel.right::before {
  margin-right: 4px;
}

.handmadeReactChart-labels-DrawLabel.left {
  transform: translate(-100%, -50%);
}

.handmadeReactChart-labels-DrawLabel.left::after {
  margin-left: 4px;
}
