.handmadeReactChart-donuts-labels-DrawLabel {
  position: absolute;
  display: flex;
  align-items: center;
  color: #aaa;
}

.handmadeReactChart-donuts-labels-DrawLabel > .point {
  position: relative;
  margin-top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #aaa;
}

.handmadeReactChart-donuts-labels-DrawLabel.right {
  transform: translateY(-50%);
}

.handmadeReactChart-donuts-labels-DrawLabel.right > .point {
  margin-right: 4px;
}

.handmadeReactChart-donuts-labels-DrawLabel.left {
  transform: translate(-100%, -50%);
}

.handmadeReactChart-donuts-labels-DrawLabel.left > .point {
  margin-left: 4px;
}

.handmadeReactChart-donuts-labels-DrawLabel > .point .line {
  position: absolute;
  left: 3px;
  top: 3px;
  height: 1px;
  background-color: #aaa;
  transform-origin: 0% 50%;
  content: "";
}
