.handmadeReactChart-donuts-DrawSlice {
  position: absolute;
  top: 0;
  left: 0;

  --color1: #eb44e8;
  --color2: #de25da;
  --color3: #ab3da9;
  --color4: #6b506b;
  --color5: #54504c;
  --color6: #474440;
}

.handmadeReactChart-donuts-DrawSlice:nth-child(6n + 1) {
  fill: var(--color1);
}

.handmadeReactChart-donuts-DrawSlice:nth-child(6n + 2) {
  fill: var(--color2);
}

.handmadeReactChart-donuts-DrawSlice:nth-child(6n + 3) {
  fill: var(--color3);
}

.handmadeReactChart-donuts-DrawSlice:nth-child(6n + 4) {
  fill: var(--color4);
}

.handmadeReactChart-donuts-DrawSlice:nth-child(6n + 5) {
  fill: var(--color5);
}

.handmadeReactChart-donuts-DrawSlice:nth-child(6n + 6) {
  fill: var(--color6);
}
