.handmadeReactChart-splines-DrawSpline {
  fill: none;
  stroke-width: 3px;
  --color1: #eb44e8;
  --color2: #de25da;
  --color3: #ab3da9;
  --color4: #6b506b;
  --color5: #54504c;
  --color6: #474440;
  transition: all 0.5s;
}

.handmadeReactChart-splines-DrawSpline:nth-child(6n + 1) {
  stroke: var(--color1);
}

.handmadeReactChart-splines-DrawSpline:nth-child(6n + 2) {
  stroke: var(--color2);
}

.handmadeReactChart-splines-DrawSpline:nth-child(6n + 3) {
  stroke: var(--color3);
}

.handmadeReactChart-splines-DrawSpline:nth-child(6n + 4) {
  stroke: var(--color4);
}

.handmadeReactChart-splines-DrawSpline:nth-child(6n + 5) {
  stroke: var(--color5);
}

.handmadeReactChart-splines-DrawSpline:nth-child(6n + 6) {
  stroke: var(--color6);
}
