.handmadeReactChart-splines-DrawArea {
  position: absolute;
  top: 0;
  left: 0;

  --color1: #eb44e844;
  --color2: #de25da44;
  --color3: #ab3da944;
  --color4: #6b506b44;
  --color5: #54504c44;
  --color6: #47444044;
}

.handmadeReactChart-splines-DrawArea:nth-of-type(6n + 1) {
  fill: var(--color1);
}

.handmadeReactChart-splines-DrawArea:nth-of-type(6n + 2) {
  fill: var(--color2);
}

.handmadeReactChart-splines-DrawArea:nth-of-type(6n + 3) {
  fill: var(--color3);
}

.handmadeReactChart-splines-DrawArea:nth-of-type(6n + 4) {
  fill: var(--color4);
}

.handmadeReactChart-splines-DrawArea:nth-of-type(6n + 5) {
  fill: var(--color5);
}

.handmadeReactChart-splines-DrawArea:nth-of-type(6n + 6) {
  fill: var(--color6);
}
