.handmadeReactChart-presets-codes-Tag {
  padding: 5px;
  color: #888;
}

.handmadeReactChart-presets-codes-Tag > .open > .name,
.handmadeReactChart-presets-codes-Tag > .close > .name {
  font-weight: bold;
  color: #00bfa0;
}

.handmadeReactChart-presets-codes-Tag
  > .open
  > .handmadeReactChart-presets-codes-Property {
  margin-left: 7px;
}

.handmadeReactChart-presets-codes-Tag > .children {
  margin-left: 14px;
}
