.handmadeReactChart-presets-donuts-AdvancedDonut .selected {
  fill: #ff80ff;
}

.handmadeReactChart-presets-donuts-AdvancedDonut
  .handmadeReactChart-donuts-centers-Center {
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: all 0.2s;
}

.handmadeReactChart-presets-donuts-AdvancedDonut
  .handmadeReactChart-donuts-centers-Center:not(.active) {
  opacity: 0;
}
