.handmadeReactChart-donuts-samples-CenterText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
