.handmadeReactChart-splines-axes-DrawYAxis .label {
  position: absolute;
  transform: translate(-100%, -53%);
  padding-right: 10px;
  color: #888;
}

.handmadeReactChart-splines-axes-DrawYAxis .grid {
  position: absolute;
  height: 1px;
  background-color: #ccc;
}

.handmadeReactChart-splines-axes-DrawYAxis .grid::before {
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  height: 1px;
  background-color: #ccc;
  content: "";
}

.handmadeReactChart-splines-axes-DrawYAxis .axis {
  position: absolute;
  width: 1px;
  background-color: #888;
}
