.handmadeReactChart-splines-axes-DrawXAxis .label {
  position: absolute;
  padding-top: 5px;
  transform: translateX(-50%);
  color: #888;
}

.handmadeReactChart-splines-axes-DrawXAxis .grid {
  position: absolute;
  width: 1px;
  background-color: #ccc;
}

.handmadeReactChart-splines-axes-DrawXAxis .grid::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 1px;
  height: 5px;
  background-color: #ccc;
  content: "";
}

.handmadeReactChart-splines-axes-DrawXAxis .axis {
  position: absolute;
  height: 1px;
  background-color: #888;
}
