.handmadeReactChart-presets-List {
  margin: auto;
  max-width: 800px;
}

.handmadeReactChart-presets-List
  .handmadeReactChart-presets-Row
  + .handmadeReactChart-presets-Row {
  margin-top: 50px;
}
