.handmadeReactChart-presets-Row {
  border: 2px solid #f8f8f8;
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.handmadeReactChart-presets-Row:not(:hover) {
  background-color: #f8f8f8;
}

.handmadeReactChart-presets-Row > .body {
  margin-left: 30px;
}

.handmadeReactChart-presets-Row > .body > .code {
  font-family: monospace;
  font-size: 18px;
}

.handmadeReactChart-presets-Row > .body > .content {
  margin-top: 20px;
  margin-left: 20px;
  color: #888;
}
