.handmadeReactChart-demos-Card {
  border: 2px solid #f8f8f8;
  border-radius: 20px;
  display: grid;
  grid-template:
    "left chart . right" 1fr
    "left chart code right" auto
    "left chart text right" auto
    "left chart . right" 1fr
    / auto auto 1fr auto;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .handmadeReactChart-demos-Card {
    padding: 20px;
    grid-template:
      "left chart right" auto
      "left code right" 1fr
      "left text right" auto
      / auto 1fr auto;
    justify-items: center;
  }
}

.handmadeReactChart-demos-Card:not(:hover) {
  background-color: #f8f8f8;
}

@media (min-width: 600px) {
  .handmadeReactChart-demos-Card > .left,
  .handmadeReactChart-demos-Card > .right {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .handmadeReactChart-demos-Card > .left {
    grid-area: left;
    margin-right: 20px;
  }

  .handmadeReactChart-demos-Card > .left::after,
  .handmadeReactChart-demos-Card > .right::after {
    display: block;
    border: 8px solid;
    border-color: transparent;
    content: "";
  }

  .handmadeReactChart-demos-Card > .left::after {
    border-right-color: #f8f8f8;
  }
}

.handmadeReactChart-demos-Card > .chart {
  grid-area: chart;
  margin-top: 30px;
}

@media (min-width: 600px) {
  .handmadeReactChart-demos-Card > .chart {
    margin-right: 40px;
    margin-bottom: 30px;
  }
}

.handmadeReactChart-demos-Card > .code {
  grid-area: code;
  margin-top: 30px;
  font-family: monospace;
  font-size: 18px;
  color: #888;
}

.handmadeReactChart-demos-Card > .code .name {
  color: #00bfa0;
  font-weight: 700;
}

.handmadeReactChart-demos-Card > .code .property {
  margin-left: 7px;
  color: #ffa300;
  font-weight: 700;
}

.handmadeReactChart-demos-Card > .code .value {
  color: #e6d800;
  font-weight: 700;
  word-break: break-all;
}

.handmadeReactChart-demos-Card > .code .indent {
  margin-left: 7px;
}

.handmadeReactChart-demos-Card > .code .more {
  color: #ccc;
}

.handmadeReactChart-demos-Card > .text {
  grid-area: text;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #888;
}

@media (min-width: 600px) {
  .handmadeReactChart-demos-Card > .text {
    margin-left: 20px;
  }
}

.handmadeReactChart-demos-Card > .text .more {
  margin-left: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
  text-decoration: none;
  color: #0099bf;
}

.handmadeReactChart-demos-Card > .text .more:hover {
  background-color: #0099bf;
  color: #fff;
}

@media (min-width: 600px) {
  .handmadeReactChart-demos-Card > .right {
    grid-area: right;
    margin-left: 20px;
  }

  .handmadeReactChart-demos-Card > .right::after {
    border-left-color: #f8f8f8;
  }
}
