.handmadeReactChart-demos-Demo {
  padding-bottom: 30px;
}

@media (min-width: 900px) {
  .handmadeReactChart-demos-Demo {
    padding-top: 30px;
  }
}

.handmadeReactChart-demos-Demo h1 {
  text-align: center;
}

@media (min-width: 900px) {
  .handmadeReactChart-demos-Demo .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.handmadeReactChart-demos-Demo .column {
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 900px) {
  .handmadeReactChart-demos-Demo .column {
    width: 800px;
  }
}

.handmadeReactChart-demos-Demo .handmadeReactChart-demos-Card {
  margin-top: 30px;
}
